* {
  margin: 0;
  padding: 0;
}

body {
  color: #00ff00;
  font-size: 14px;
  background-color: black;
  font-family: "Helvetica Neue", Helvetica;
  overflow: visible;
}

path.link {
  stroke: #ff0026!important;
  }
  
.node text {
    font-size: 12px;
    fill: rgb(0, 255, 38)!important;
}

#body {
  color: #00ff00;
  background-color: #000000a1;
  margin: 0 auto;
  padding-top: 20%;
  position: relative!important;
}

#header {
  color: #00ff00;
  font-size: 40px;
  font-weight: bold;
  top: 20px;
  text-align: center;
}

.legend {
  position: absolute;
  top: 0px;
  right: 0;
  width: 330px;
  font-size: 15px;
  color: #00ff00;
}

.node {
  cursor: pointer;
}

.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font-size: 12px;
  fill: rgb(0, 0, 0);
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;
}

header {
  color: #ffffff;
  display: block;
  font: 14px/1.3 Arial, sans-serif;
  height: 50px;
  position: relative;
  z-index: 5;
}
h1 {
  margin-top: 50px;
  text-align: center;
  color: white;
  font-family: Nosifer;
  text-shadow: 0 0 0.1em red, 0 0 0.5em blue;
}

.we-are {
  color: #ff0010;
  font-size: 70px;
  text-shadow: #ff0001 2px 2px 2px;
  letter-spacing: 2px;
}

.message {
  color: white;
  -webkit-animation: fadeIn 1s ease-in;
  animation: fadeIn 1s ease-in;
}

.cn {
  font-size: 10px;
  text-shadow: #ff0101 2px 2px 2px;
  line-height: 0px;
  letter-spacing: 0px;
  -webkit-animation: fadeIn 3s ease-in;
  animation: fadeIn 1s ease-in;
}
-webkit-@keyframes we-are {
  from {
    scale: 1.1;
  }
  to {
    scale: 0;
  }
}
@keyframes we-are {
  from {
    scale: 1.1;
  }
  to {
    scale: 0;
  }
}
-webkit-@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
@-webkit-keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
@-moz-keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
@-ms-keyframes move-clouds-back {
  from {
    background-position: 0;
  }
  to {
    background-position: 10000px 0;
  }
}

.stars,
.twinkling,
.clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}


.stars {
  background: #000
    url(/1499551933_tumblr_o4gduqUPZA1urp9z5o1_400.gif);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.clouds {
  background: transparent
    url(/distressed_overlay.png) repeat top center;
  background-repeat: no-repeat;
  z-index: 3;
  pointer-events: none;
  -moz-animation: move-clouds-back 200s linear infinite;
  -ms-animation: move-clouds-back 200s linear infinite;
  -o-animation: move-clouds-back 200s linear infinite;
  -webkit-animation: move-clouds-back 200s linear infinite;
  animation: move-clouds-back 200s linear infinite;
}


.container {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.text {
  font-weight: 100;
  font-size: 28px;
  color: #fafafa;
  font-family: Iceland;
  text-shadow: 0 0 0.5em cyan, 0 0 0.5em cyan;
}
.dud {
  color: #757575;
}

.animation-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
}

.animation-container span {
  color: whitesmoke;
  display: block;
  font-size: 18px;
  font-family: "Helvetica";
  text-shadow: 0 0 1px white;
  position: absolute;
  user-select: none;
  pointer-events: none;
  cursor: default;
  z-index: 1;
  opacity: 0;
  will-change: transform, opacity;
  animation-timing-function: ease-out;
  animation-name: move;
}

@keyframes move {
  0% {
    opacity: 0;
    transform: translateY(100vh);
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: none;
  }
}
.buzz_wrapper {
  position: relative;
  width: 100%;
  margin: 180px auto;
  background-attachment: fixed;
  background-image: url(https://media1.tenor.com/images/728506cac1aa372741ece531ce0b8d18/tenor.gif);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  overflow: hidden;
  padding: 100px;
}
.buzz_wrapper span {
  position: absolute;
  -webkit-filter: blur(1px);
  font-size: 30px;
  font-family: "Courier new", fixed;
  font-weight: bold;
}
.buzz_wrapper span:nth-child(1) {
  color: red;
  margin-left: -2px;
  -webkit-filter: blur(2px);
}
.buzz_wrapper span:nth-child(2) {
  color: green;
  margin-left: 2px;
  -webkit-filter: blur(2px);
}
.buzz_wrapper span:nth-child(3) {
  color: blue;
  position: 20px 0;
  -webkit-filter: blur(1px);
}
.buzz_wrapper span:nth-child(4) {
  color: #fff;
  -webkit-filter: blur(1px);
  text-shadow: 0 0 50px rgba(255, 255, 255, 0.4);
}
.buzz_wrapper span:nth-child(5) {
  color: rgba(255, 255, 255, 0.2);
  -webkit-filter: blur(15px);
}

.buzz_wrapper span {
  -webkit-animation: blur 30ms infinite, jerk 50ms infinite;
}

@-webkit-keyframes blur {
  0% {
    -webkit-filter: blur(1px);
    opacity: 0.8;
  }
  50% {
    -webkit-filter: blur(1px);
    opacity: 1;
  }
  100% {
    -webkit-filter: blur(1px);
    opacity: 0.8;
  }
}
@-webkit-keyframes jerk {
  50% {
    left: 1px;
  }
  51% {
    left: 0;
  }
}
@-webkit-keyframes jerkup {
  50% {
    top: 1px;
  }
  51% {
    top: 0;
  }
}

.buzz_wrapper span:nth-child(3) {
  -webkit-animation: jerkblue 3s infinite;
}
@-webkit-keyframes jerkblue {
  0% {
    left: 0;
  }
  30% {
    left: 0;
  }
  31% {
    left: 10px;
  }
  32% {
    left: 0;
  }
  98% {
    left: 0;
  }
  100% {
    left: 10px;
  }
}
.buzz_wrapper span:nth-child(2) {
  -webkit-animation: jerkgreen 1s infinite;
}
@-webkit-keyframes jerkgreen {
  0% {
    left: 0;
  }
  30% {
    left: 0;
  }
  31% {
    left: -7px;
  }
  32% {
    left: 0;
  }
  98% {
    left: 0;
  }
  100% {
    left: -10px;
  }
}

.buzz_wrapper .text {
  -webkit-animation: jerkwhole 7s infinite;
  position: relative;
}
@-webkit-keyframes jerkwhole {
  30% {
  }
  40% {
    opacity: 1;
    top: 0;
    left: 0;
    -webkit-transform: scale(1, 1);
    -webkit-transform: skew(0, 0);
  }
  41% {
    opacity: 0.8;
    top: 0px;
    left: -100px;
    -webkit-transform: scale(1, 1.2);
    -webkit-transform: skew(50deg, 0);
  }
  42% {
    opacity: 0.8;
    top: 0px;
    left: 100px;
    -webkit-transform: scale(1, 1.2);
    -webkit-transform: skew(-80deg, 0);
  }
  43% {
    opacity: 1;
    top: 0;
    left: 0;
    -webkit-transform: scale(1, 1);
    -webkit-transform: skew(0, 0);
  }
  65% {
  }
}
body {
  font-size: var(--f);
  background-color: var(--bg);
  display: flex;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
}
p4 {
  font-size: 55px;
  flex: 1;
  line-height: 0.75;
  margin: auto;
  color: #1af0dc;
  text-align: center;
  transform: scaleX(var(--scale, 1));
  animation: glitch-p 11s infinite alternate;
}
p4::before,
p4::after {
  --top: 0;
  --left: 0;
  --v-height: 30%;
  --n-tenth: calc(var(--f-size) * 0.1 * var(--top));
  --t-cut: calc(var(--n-tenth) / var(--f-size) * 100%);
  --b-cut: calc(var(--t-cut) + var(--v-height));
  content: attr(data-text);
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  transform: translateX(calc(var(--left) * 100%));
  filter: drop-shadow(0 0 transparent);
  text-shadow: calc(var(--left) * -3em) 0 0.02em #0f0,
    calc(var(--left) * -6em) 0 0.02em #ff00e1;
  background-color: var(--bg);
  clip-path: polygon(
    0% var(--t-cut),
    100% var(--t-cut),
    100% var(--b-cut),
    0% var(--b-cut)
  );
}
p4::before {
  animation: glitch-b 5.7s infinite alternate-reverse;
}
p4::after {
  animation: glitch-a 3.1s infinite alternate;
}
@-moz-keyframes glitch-p {
  17% {
    --scale: 0.4;
  }
  31% {
    --scale: 0.8;
  }
  37% {
    --scale: 0.7;
  }
  47% {
    --scale: 0.61;
  }
  87% {
    --scale: 0.7;
  }
}
@-webkit-keyframes glitch-p {
  17% {
    --scale: 0.5;
  }
  31% {
    --scale: 0.7;
  }
  37% {
    --scale: 0.8;
  }
  47% {
    --scale: 0.75;
  }
  87% {
    --scale: 0.8;
  }
}
@-o-keyframes glitch-p {
  17% {
    --scale: 0.87;
  }
  31% {
    --scale: 1.1;
  }
  37% {
    --scale: 1.3;
  }
  47% {
    --scale: 0.91;
  }
  87% {
    --scale: 1;
  }
}
@keyframes glitch-p {
  17% {
    --scale: 0.87;
  }
  31% {
    --scale: 1.1;
  }
  37% {
    --scale: 1.3;
  }
  47% {
    --scale: 0.91;
  }
  87% {
    --scale: 1;
  }
}
@-moz-keyframes glitch-a {
  10%,
  30%,
  50%,
  70%,
  90% {
    --top: 0;
    --left: 0;
  }
  0% {
    --v-height: 15%;
  }
  20% {
    --left: 0.005;
  }
  40% {
    --left: 0.01;
    --v-height: 20%;
    --top: 3;
  }
  60% {
    --left: 0.03;
    --v-height: 25%;
    --top: 6;
  }
  80% {
    --left: 0.07;
    --v-height: 5%;
    --top: 8;
  }
  100% {
    --left: 0.083;
    --v-height: 30%;
    --top: 1;
  }
}
@-webkit-keyframes glitch-a {
  10%,
  30%,
  50%,
  70%,
  90% {
    --top: 0;
    --left: 0;
  }
  0% {
    --v-height: 15%;
  }
  20% {
    --left: 0.005;
  }
  40% {
    --left: 0.01;
    --v-height: 20%;
    --top: 3;
  }
  60% {
    --left: 0.03;
    --v-height: 25%;
    --top: 6;
  }
  80% {
    --left: 0.07;
    --v-height: 5%;
    --top: 8;
  }
  100% {
    --left: 0.083;
    --v-height: 30%;
    --top: 1;
  }
}
@-o-keyframes glitch-a {
  10%,
  30%,
  50%,
  70%,
  90% {
    --top: 0;
    --left: 0;
  }
  0% {
    --v-height: 15%;
  }
  20% {
    --left: 0.005;
  }
  40% {
    --left: 0.01;
    --v-height: 20%;
    --top: 3;
  }
  60% {
    --left: 0.03;
    --v-height: 25%;
    --top: 6;
  }
  80% {
    --left: 0.07;
    --v-height: 5%;
    --top: 8;
  }
  100% {
    --left: 0.083;
    --v-height: 30%;
    --top: 1;
  }
}
@keyframes glitch-a {
  10%,
  30%,
  50%,
  70%,
  90% {
    --top: 0;
    --left: 0;
  }
  0% {
    --v-height: 15%;
  }
  20% {
    --left: 0.005;
  }
  40% {
    --left: 0.01;
    --v-height: 20%;
    --top: 3;
  }
  60% {
    --left: 0.03;
    --v-height: 25%;
    --top: 6;
  }
  80% {
    --left: 0.07;
    --v-height: 5%;
    --top: 8;
  }
  100% {
    --left: 0.083;
    --v-height: 30%;
    --top: 1;
  }
}
@-moz-keyframes glitch-b {
  10%,
  30%,
  50%,
  70%,
  90% {
    --top: 0;
    --left: 0;
  }
  0% {
    --v-height: 15%;
    --top: 10;
  }
  20% {
    --left: -0.005;
  }
  40% {
    --left: -0.01;
    --v-height: 17%;
    --top: 3;
  }
  60% {
    --left: -0.03;
    --v-height: 35%;
    --top: 6;
  }
  80% {
    --left: -0.07;
    --v-height: 5%;
    --top: 8;
  }
  100% {
    --left: -0.083;
    --v-height: 30%;
    --top: 1;
  }
}
@-webkit-keyframes glitch-b {
  10%,
  30%,
  50%,
  70%,
  90% {
    --top: 0;
    --left: 0;
  }
  0% {
    --v-height: 15%;
    --top: 10;
  }
  20% {
    --left: -0.005;
  }
  40% {
    --left: -0.01;
    --v-height: 17%;
    --top: 3;
  }
  60% {
    --left: -0.03;
    --v-height: 35%;
    --top: 6;
  }
  80% {
    --left: -0.07;
    --v-height: 5%;
    --top: 8;
  }
  100% {
    --left: -0.083;
    --v-height: 30%;
    --top: 1;
  }
}
@-o-keyframes glitch-b {
  10%,
  30%,
  50%,
  70%,
  90% {
    --top: 0;
    --left: 0;
  }
  0% {
    --v-height: 15%;
    --top: 10;
  }
  20% {
    --left: -0.005;
  }
  40% {
    --left: -0.01;
    --v-height: 17%;
    --top: 3;
  }
  60% {
    --left: -0.03;
    --v-height: 35%;
    --top: 6;
  }
  80% {
    --left: -0.07;
    --v-height: 5%;
    --top: 8;
  }
  100% {
    --left: -0.083;
    --v-height: 30%;
    --top: 1;
  }
}
@keyframes glitch-b {
  10%,
  30%,
  50%,
  70%,
  90% {
    --top: 0;
    --left: 0;
  }
  0% {
    --v-height: 15%;
    --top: 10;
  }
  20% {
    --left: -0.005;
  }
  40% {
    --left: -0.01;
    --v-height: 17%;
    --top: 3;
  }
  60% {
    --left: -0.03;
    --v-height: 35%;
    --top: 6;
  }
  80% {
    --left: -0.07;
    --v-height: 5%;
    --top: 8;
  }
  100% {
    --left: -0.083;
    --v-height: 30%;
    --top: 1;
  }
}

@keyframes menuglitch { 
  0% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(2);}
  1% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(2);}
  2% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(02);}
  3% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(2);}
  4% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(2);}
  5% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(2);}
  6% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(2);}
  7% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(2);}
  8% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(5);}
  9% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(5);}
  10% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(5);}
  11% { text-shadow: 1px 0 0 red, -1px 0 0 #ff0044; filter: blur(0.5px);}
  12% { text-shadow: 1px 0 0 red, -1px 0 0 #ff0044; filter: blur(0.5px);}
  13% { text-shadow: 1px 0 0 red, -1px 0 0 #ff0044; filter: blur(0.5px);}
  14% { text-shadow: 1px 0 0 red, -1px 0 0 #ff0044; filter: blur(5);}
  15% { text-shadow: 1px 0 0 red, -1px 0 0 #ff0044; filter: blur(5);}
  16% { text-shadow: -3px 0 0 red, 3px 0 0 #ff0044; filter: blur(5);}
  17% { text-shadow: -3px 0 0 red, 3px 0 0 #ff0044; filter: blur(5);}
  18% { text-shadow: -3px 0 0 red, 3px 0 0 #ff0044; filter: blur(5);}
  19% { text-shadow: -3px 0 0 red, 3px 0 0 #ff0044; filter: blur(5);}
  20% { text-shadow: -3px 0 0 red, 3px 0 0 #ff0044; filter: blur(0);}
  21% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 #ff0044; filter: blur(0);}
  22% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 #ff0044; filter: blur(0);}
  23% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 #ff0044; filter: blur(0);}
  24% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 #ff0044; filter: blur(0);}
  25% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 #ff0044; filter: blur(0);}
  26% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 #ff0044; filter: blur(0.5px);}
  27% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 #ff0044; filter: blur(0.5px);}
  28% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 #ff0044; filter: blur(0);}
  29% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 #ff0044; filter: blur(0);}
  30% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 #ff0044; filter: blur(0);}
  31% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 #ff0044; filter: blur(0);}
  32% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 #ff0044; filter: blur(0);}
  33% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 #ff0044; filter: blur(0);}
  34% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 #ff0044; filter: blur(0);}
  35% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 #ff0044; filter: blur(0.5px);}
  36% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 #ff0044; filter: blur(0.5px);}
  37% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 #ff0044; filter: blur(0.5px);}
  38% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 #ff0044; filter: blur(0);}
  39% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 #ff0044; filter: blur(0);}
  40% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 #ff0044; filter: blur(0);}
  41% { text-shadow: 45px 0 0 #0c33f5, -45px 0 0 #ff0044; filter: blur(0);}
  42% { text-shadow: 0 0 0 #0c33f5, 0 0 0 #ff0044; filter: blur(0);}
  43% { text-shadow: 1px 0 0 red, -1px 0 0 #ff0044; filter: blur(0);}
  44% { text-shadow: 1px 0 0 red, -1px 0 0 #ff0044; filter: blur(0);}
  45% { text-shadow: 1px 0 0 red, -1px 0 0 #ff0044; filter: blur(0);}
  46% { text-shadow: 1px 0 0 red, -1px 0 0 #ff0044; filter: blur(0.5px);}
  47% { text-shadow: -3px 0 0 red, 3px 0 0 #ff0044; filter: blur(0.5px);}
  48% { text-shadow: -3px 0 0 red, 3px 0 0 #ff0044; filter: blur(0);}
  49% { text-shadow: -3px 0 0 red, 3px 0 0 #ff0044; filter: blur(0);}
  50% { text-shadow: -3px 0 0 red, 3px 0 0 #ff0044; filter: blur(0);}
  51% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
  52% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
  53% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
  54% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
  55% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0.5px);}
  56% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0.5px);}
  57% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0.5px);}
  58% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
  59% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
  60% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
  61% { text-shadow: 30px 0 0 red, -30px 0 0 #ff0044; filter: blur(0);}
  62% { text-shadow: 0 0 0 red, 0 0 0 #ff0044; filter: blur(0);}
  63% { text-shadow: 1px 0 0 red, -1px 0 0 #0c33f5; filter: blur(0);}
  64% { text-shadow: 1px 0 0 red, -1px 0 0 #0c33f5; filter: blur(0);}
  65% { text-shadow: 1px 0 0 red, -1px 0 0 #0c33f5; filter: blur(0);}
  66% { text-shadow: 1px 0 0 red, -1px 0 0 #0c33f5; filter: blur(0.5px);}
  67% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0.5px);}
  68% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
  69% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
  70% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
  71% { text-shadow: 50px 0 0 red, -50px 0 0 #0c33f5; filter: blur(0);}
  72% { text-shadow: 0 0 0 red, 0 0 0 #0c33f5; filter: blur(0);}
  73% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
  74% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
  75% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
  76% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
  77% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
  78% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
  79% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
  80% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
  81% { text-shadow: 1px 0 0 red, -1px 0 0 #ff0044; filter: blur(0);}
  82% { text-shadow: 1px 0 0 red, -1px 0 0 #ff0044; filter: blur(0);}
  83% { text-shadow: 1px 0 0 red, -1px 0 0 #ff0044; filter: blur(0.5px);}
  84% { text-shadow: 1px 0 0 red, -1px 0 0 #ff0044; filter: blur(0.5px);}
  85% { text-shadow: 1px 0 0 red, -1px 0 0 #ff0044; filter: blur(0.5px);}
  86% { text-shadow: -3px 0 0 red, 3px 0 0 #ff0044; filter: blur(0.5px);}
  87% { text-shadow: -3px 0 0 red, 3px 0 0 #ff0044; filter: blur(0.5px);}
  88% { text-shadow: -3px 0 0 red, 3px 0 0 #ff0044; filter: blur(0);}
  89% { text-shadow: -3px 0 0 red, 3px 0 0 #ff0044; filter: blur(0);}
  90% { text-shadow: -3px 0 0 red, 3px 0 0 #ff0044; filter: blur(0);}
  91% { text-shadow: 60px 0 0 #ff0044, -60px 0 0 #0c33f5; filter: blur(0);}
  92% { text-shadow: 0 0 0 #ff0044, 0 0 0 #0c33f5; filter: blur(0);}
  92% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 #ff0044; filter: blur(0);}
  93% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 #ff0044; filter: blur(0);}
  94% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 #ff0044; filter: blur(0);}
  95% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 #ff0044; filter: blur(0);}
  96% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 #ff0044; filter: blur(0);}
  97% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 #ff0044; filter: blur(0);}
  98% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 #ff0044; filter: blur(0);}
  99% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 #ff0044; filter: blur(0);}
	100% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 #ff0044; filter: blur(0);} } 
